<head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Anasayfa</title>
  </head>

<body>
  <nav>
    <a href="/">Anasayfa</a>
    <a href="/ages.html">Çağlar</a>
    <a href="https://creations.mtdv.me/articles/kodlandproje">Daha çok fayda</a>
  </nav>
  <div class="header__text">
    <h1>ElciKMP Wiki sayfasına hoşgeldiniz</h1>

    <h2>5 yıllık tarihi kaleme alan wiki</h2>
  </div>
  <p>Bu wiki sitesinin temel amacı farklı oyunlarda, farklı kişilerle, farklı kurallarla hatta farklı haritalarla 5 yıldır oynanan Kingdom-Multiplayer (KMP) konseptinin;
    Elci kuruculuğunda yönetilen kısmının tarihini yazılı bir belge halinde eski ve yeni oyunculara sunmaktır.</p>
    <ul class="list">
      <li class="list__item">
        <a href="">
        <img src="../static/img/img.example.png" alt="example">
        <span>Orta büyüklükte bir ev</span></a>
      </li>
      <li class="list__item">
        <a href="">
          <img src="../static/img/img.example.png" alt="example">
          <span>Orta büyüklükte bir ev</span></a>
      </li>
      <li class="list__item">
        <a href="">
          <img src="../static/img/img.example.png" alt="example">
          <span>Orta büyüklükte bir ev</span></a>
      </li>
      <li class="list__item">
        <a href="">
          <img src="../static/img/img.example.png" alt="example">
          <span>Orta büyüklükte bir ev</span></a>
      </li>
      <li class="list__item">
        <a href="">
          <img src="../static/img/img.example.png" alt="example">
          <span>Orta büyüklükte bir ev</span></a>
      </li>
      <li class="list__item">
        <a href="">
          <img src="../static/img/img.example.png" alt="example">
          <span>Orta büyüklükte bir ev</span></a>
      </li>
      <li class="list__item">
        <a href="">
          <img src="../static/img/img.example.png" alt="example">
          <span>Orta büyüklükte bir ev</span></a>
      </li>
    </ul>
</body>